
body{
    /*background-image: url("imgs/img_arte/fundo.png");*/
    /*background-size: cover;*/
   background-repeat: no-repeat; 
    background-position: center; 
    overflow-x: hidden;
}

.logo{
    width: 100%;
    height: 300px;
    display: block;
}

.logo, img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5px;
    /*justify-content: space-between;*/
    justify-content: space-evenly;

}

.text{
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: auto;
}

.text p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    border-radius: 20px;
    color: black;
}

.image{
    width: 50%;
}

.image, img{
    height: 100%;
    border-radius: 20px;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}


.container3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

.text4{
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-decoration:underline;
    text-decoration-color: purple;
}

.text4 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    border-radius: 20px;
}


.container4{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

.container5{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

.container6{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

.container7{
    display: flex;
    flex-direction:row-reverse;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 50px;
}

#seta-link{
     display: flex;
     justify-content: flex-end;
}


.seta{
    width: 100px;
    height: 100px;
    
}

.text2{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.text2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    border-radius: 20px;
    color: black;
}


@media (max-width: 1234px){


    .container1, .container2, .container3, .container4, .container5, .container6, .container7{
        flex-direction: column;
        width: 100%;
    }

    .text, .text4, .image{
        width: 100%;
    }

    p{
        font-size: medium;
    }

}






