* {
    margin: 0;
}

body {
    position: relative;
    z-index: -2;
    background-image: url(imgs/img_arte/fundo.png);
    background-position: center;
    background-repeat: repeat;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.801);
    z-index: -1;
}

.image img {
    width: 100%;
}

.container {
    display: flex;
    gap: 20px;
}

.container,
.text2 {
    border-radius: 20px;
    padding: 0px 20px;
}

.container .image {
    flex: 40%;
    display: flex;
    justify-content: center;
}

.image img {
    border-radius: 20px;
}

.text {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 30px 20px 30px;
}

h1 {
    font-size: clamp(4rem, 5vw, 5rem);
    font-family: Boogaloo;
    color: #fc3437;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

p {
    text-align: justify;
    font-family: Andika;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#seta-link {
    margin-left: auto;
}

.logo {
    width: 25%;
}

.seta {
    height: 60px;
    width: 60px;
}

#seta:hover {
    cursor: pointer;
    transition: 0.3s ease;
    height: 63px;
    width: 63px;
}

@media (max-width: 780px) {

    div {
        flex-direction: column;
    }

    .logo {
        width: 60%;
    }

    main{
        gap: 20px;
        padding: 80px 10px 20px 10px;
    }

}