@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+RO:wght@100..400&display=swap');

body,
html {
    padding: 0;
    margin: 0;
}

header {
    background-color: transparent;
    width: 100%;
    position: absolute;
    z-index: 4;
}

h1 {
    font-family: "Playwrite RO", cursive;
    font-size: clamp(1.8rem, 5vw, 2.7rem);
    color: #eee9de;
    font-weight: 100;
    margin: 0;
}

p {
    padding: 20px;
    color: #eee9de;
    font-family: delius;
    text-align: justify;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

section {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    position: relative;
    padding: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.foto {
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto img {
    width: 80%;
}

/* SEGUNDA PARTE */

.segunda {
    background-color: #eee9dede;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.segunda .principal {
    width: 100%;
    padding: 0;
}

.segunda p,
.segunda h1,
.terceira p,
.terceira h1 {
    color: #954723;
    font-weight: 300;
}

.segunda h1,
.terceira h1 {
    text-align: center;
}

.segunda img {
    width: 100%;
}

.segunda .texto,
.segunda .foto {
    flex: 50%
}

.segunda .texto {
    margin-left: 30px;
}

#sp-dois-t {
    margin-right: 30px;
}

/* TERCEIRA PARTE */

.terceira {
    background-color: #eee9dede;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.titulo {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: #954723;
}

.canto-right {
    width: 250px;
    position: absolute;
    margin: -30px -30px 0px 0px;
    z-index: 3;
    right: 0;
}

.canto-left {
    width: 250px;
    position: absolute;
    margin: -30px 0px 0px -30px;
    z-index: 3;
    transform: scaleX(-1);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px 40px 60px;
}

.terceira .foto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.terceira img {
    border-radius: 20px;
    width: 100%;
}

.terceira .principal {
    padding: 0px;
}

.terceira .texto {
    margin-left: 30px;
}

.terceira p {
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 0;
    padding: 0;
}

/* QUARTA PARTE */

.quarta {
    background-color: #954723;
    position: relative;
}

#tt-dois {
    border-bottom: 3px solid #ffee97;
}

.maior {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    gap: 50px;
    justify-content: center;
    align-items: stretch;
}

.prof {
    border: 10px double #ffee97;
    box-shadow: 0px 0px 10px 5px #612b13;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 30px;
    gap: 10px;
}

.prof h1,
.prof p {
    padding: 0;
    margin: 0;
}

.foto-prof {
    box-shadow: 0px 0px 10px 5px #612b13;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #ffee97;
}

/* QUINTA */

.quinta {
    background-color: #eee9dede;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quinta h1,
.quinta p {
    color: #954723;
}

.quinta .principal {
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.quinta .imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imgs img {
    width: 45%;
    border-radius: 20px;
}

.quinta a {
    font-family: "Playwrite RO", cursive;
    font-size: clamp(1rem, 4vw, 1.5em);
    color: #eee9de;
    text-decoration: none;
    background-color: #954723;
    padding: 5px 20px 5px 10px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0px 0px 7px 5px #4a200d7a;
    margin-bottom: 40px;
    transition: 0.3s;
}

.quinta a:hover {
    color: #954723;
    background-color: #eee9de;
    transform: translateY(-2px);
}


/* ANIMAÇÃO DA PRIMEIRA PARTE */

.grid-tecnico {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background-color: #954723;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.257) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.257) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.257) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.257) 1px, transparent 1px);

    background-size:
        120px 120px,
        120px 120px,
        30px 30px,
        30px 30px;

    animation: gridMove 60s linear infinite;
}

@keyframes gridMove {
    from {
        background-position: 0 0, 0 0, 0 0, 0 0;
    }

    to {
        background-position: 400px 400px, 400px 400px, 200px 200px, 200px 200px;
    }
}

@media (max-width: 840px) {

    .principal {
        flex-direction: column-reverse;
        margin-top: 80px;
        margin-bottom: 40px;
        padding: 20px;
    }

    .segunda {
        gap: 40px;
        padding: 20px 20px
    }

    .segunda .principal {
        margin: 0;
    }

    p {
        padding: 0;
    }

    .foto img {
        width: 50%;
    }

    .segunda img {
        width: 100%;
    }

    .segunda .texto,
    #sp-dois-t,
    .terceira .texto {
        margin: 0;
    }

    #sp-dois {
        flex-direction: column;
        margin-top: -20px;
    }

    .canto-left,
    .canto-right {
        width: 150px;
    }

    .canto-left {
        margin: -20px 0px 0px -20px;
    }

    .canto-right {
        margin: -20px -20px 0px 0px;
    }

    .terceira img {
        width: 100%;
    }

    .terceira p {
        padding: 20px 0px;
    }

    .terceira .principal {
        padding: 0;
        margin: 0;
    }

    .main {
        padding: 0px 20px 20px 20px;
        gap: 0;
    }

    .prof {
        width: 30%;
        padding: 20px;
    }

    .foto-prof {
        height: 150px;
        width: 150px;
    }

    .maior {
        gap: 40px;
    }

    .quinta .imgs {
        flex-direction: column;
        align-items: center;
    }

    .imgs img {
        width: 100%;
    }

    .quinta .principal {
        margin: 0;
        padding: 0px 20px 20px 20px;
        flex-direction: column-reverse;
    }

    .quinta a {
        padding: 5px 20px 5px 10px;
        border-radius: 10px;
        font-weight: 400;
        box-shadow: 0px 0px 5px 4px #5e2d16c4;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {

    .foto img {
        width: 90%;
    }

    .segunda img,
    .terceira img {
        width: 100%;
    }

    .canto-left,
    .canto-right {
        width: 90px;
    }

    .canto-left {
        margin: -10px 0px 0px -10px;
    }

    .canto-right {
        margin: -10px -10px 0px 0px;
    }

    .prof {
        width: 70%;
        padding: 20px;
        border: 7px double #ffee97;
    }

    .foto-prof {
        height: 180px;
        width: 200px;
    }
}