    * {
        margin: 0;
    }

    html,
    body {
        padding: 0;

    }

    body {
        background-color: rgb(254, 240, 255);
    }

    header {
        background-color: transparent;
    }


    #seta-link {
        margin-left: auto;
    }

    #seta {
        fill: #FFDE59;
        height: 60px;
        width: 60px;
    }

    #seta:hover {
        cursor: pointer;
        transition: 0.3s ease;
        height: 63px;
        width: 63px;
    }

    main {
        padding: 0px 35px 35px 35px;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    .intro {
        text-align: center;
        padding: 15px;
        border: 4px solid transparent;
        border-radius: 10px;


        background:
            linear-gradient(white, white) padding-box,
            linear-gradient(270deg, #FFDE59, #CB6CE6, #FFDE59) border-box;

        background-size: 100% 100%, 300% 300%;
        animation: borderMove 6s ease infinite;
    }

    @keyframes borderMove {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 300% 50%;
        }
    }

    h1 {
        color: #CB6CE6;
        font-family: Boogaloo;
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        margin-bottom: 10px;
        letter-spacing: 0.1rem;
    }

    p {
        font-family: Andika;
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: #CB6CE6;
        text-align: justify;
    }

    section {
        background-color: #ffffff;
        display: flow-root;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 3px rgba(241, 221, 242, 0.769);
    }

    section img {
        border-radius: 10px;
        width: 40%;
        float: left;
        margin-right: 25px;
    }

    section p {
        color: #9E7AA8;
    }

    @media (max-width: 780px) {

        main {
            padding: 0px 25px 20px 25px;
        }

        section {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        section img {
            width: 100%;
            margin-right: 0;
            margin-top: 20px;
        }

        header img {
            max-height: 40px;
        }
    }