    * {
        margin: 0;
    }

    html,
    body {
        padding: 0;
    }

    main {
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .intro {
        background-color: aqua;
        text-align: center;
        padding: 15px;
        border: 4px solid transparent;
        border-radius: 10px;

        background:
            linear-gradient(white, white) padding-box,
            linear-gradient(270deg, #FFDE59, #CB6CE6, #FFDE59) border-box;

        background-size: 100% 100%, 300% 300%;
        animation: borderMove 6s ease infinite;
    }

    @keyframes borderMove {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 300% 50%;
        }
    }

    h1 {
        color: #CB6CE6;
        font-family: Boogaloo;
        font-size: clamp(1.5rem, 5vw, 2rem);
        margin-bottom: 10px;
    }

    p {
        font-family: Andika;
        font-size: clamp(0.8rem, 2vw, 1rem);
        color: #CB6CE6;
        text-align: justify;
    }

    section {
        display: flex;
    }

    .foto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto img {
        border-radius: 10px;
        width: clamp(300px, 50vw, 400px);
        height: auto;
    }

    .texto {
        padding: 20px;
    }

    section p {
        color: #9E7AA8;
    }

    @media (max-width: 780px) {

        section {
            flex-direction: column;
        }

        .foto img {
            width: 100%;
        }

        main {
            gap: 0;
        }

        .intro {
            margin-bottom: 25px;
        }

        header img {
            max-height: 40px;
        }
    }