    * {
        margin: 0;
    }

    html,
    body {
        padding: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        background-color: transparent;
    }

    h1 {
        color: #CB6CE6;
        font-family: Boogaloo;
        font-size: clamp(1.8rem, 5vw, 3rem);
        letter-spacing: 0.1rem;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-family: Andika;
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: #9E7AA8;
    }

    img {
        width: 80%;
        margin-bottom: 10px;
    }

    section {
        padding: 0px 20px 20px 20px;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    #seta-link {
        margin-left: auto;
    }

    #seta {
        fill: #FFDE59;
        height: 60px;
        width: 60px;
    }

    #seta:hover {
        cursor: pointer;
        transition: 0.3s ease;
        height: 63px;
        width: 63px;
    }

    /* FUNDO ANIMADO */
    .background {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
        background-color: rgb(254, 240, 255);
    }

    .background span {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        background: rgba(203, 108, 230, 0.3);
        border-radius: 50%;
        animation: animate 20s linear infinite;
    }

    /* tamanhos, posições e velocidades diferentes */
    .background span:nth-child(1) {
        left: 10%;
        width: 40px;
        height: 40px;
        animation-duration: 18s;
    }

    .background span:nth-child(2) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-duration: 12s;
    }

    .background span:nth-child(3) {
        left: 40%;
        width: 25px;
        height: 25px;
        animation-duration: 15s;
    }

    .background span:nth-child(4) {
        left: 60%;
        width: 50px;
        height: 50px;
        animation-duration: 22s;
    }

    .background span:nth-child(5) {
        left: 75%;
        width: 18px;
        height: 18px;
        animation-duration: 14s;
    }

    .background span:nth-child(6) {
        left: 85%;
        width: 30px;
        height: 30px;
        animation-duration: 19s;
    }

    .background span:nth-child(7) {
        left: 95%;
        width: 12px;
        height: 12px;
        animation-duration: 10s;
    }

    @keyframes animate {
        0% {
            transform: translateY(100vh) scale(0.5);
            opacity: 0;
        }

        50% {
            opacity: 0.8;
        }

        100% {
            transform: translateY(-10vh) scale(1);
            opacity: 0;
        }
    }

    @media (max-width: 910px) {

        img {
            width: 100%;
        }

        section {
            max-width: 100%;
        }

        p {
            margin: 0px 10px;
        }
    }