/*-- Imports --*/
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Boogaloo&display=swap');

/*
FONTES
Para títulos --> Boogaloo
Para parágrafos --> Andika

CORES
#ffde59 (amarelo)
#F7F4E9 (bege)
#CB6CE6 (lilás) 

 -- Corpo do Site --*/

header {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #F7F4E9;
    align-items: center;
}

.nav_mobile {
    display: none;
}

.logo {
    flex: 10%;
}

.logo img {
    width: auto;
    max-height: 110px;
    display: block;
}

nav {
    flex: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-right: 20px;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

/*-- Fontes e Texto --*/
h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: #CB6CE6;
    font-family: Boogaloo;
    letter-spacing: 0.1em;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 1.7vw;
    color: #76672f;
}

nav a:hover {
    text-decoration: underline;
    color: #CB6CE6;
}

/*-- Button --*/
button {
    font-family: Boogaloo;
    letter-spacing: 0.1em;
    color: white;
    background: linear-gradient(to right, #CB6CE6 0%, #713C80 100%);
    font-size: 17px;
    padding: 10px;
    box-shadow: -4px 4px 4px 0px #A29DAD;
    border-radius: 25px;
    border: none;
    width: 200px;
    cursor: pointer;
}

button:hover {
    font-size: 18px;
    transition: 0.25s;
    color: #ffde59;
}

/*-- Logo --*/
img {
    width: clamp(300px, 50vw, 400px);
    height: auto;
}

/*-- Animação --*/
.anima {
    position: fixed;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.8s ease-in-out;
    z-index: 1;
}

.anima.ativo {
    transform: translate(-50%, -50%) scale(20);
}

/*-- Ajustes Mobile --*/
@media (max-height: 500px) {

    body {
        padding: 20px;
    }

    .nav_mobile {
        display: block;
    }
}