body {
    margin: 0;
}

#seta-link {
    margin-left: auto;
    margin-right: 30px;
}

#seta {
    fill: #ffde59;
    height: 60px;
    width: 60px;
    z-index: 2;
}

#seta:hover {
    cursor: pointer;
    transition: 0.3s ease;
    height: 63px;
    width: 63px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("imgs/pp/fundoProjP2.png");
    background-repeat: repeat;
    background-size: 1423px 800px;
    animation: bg 67s linear infinite;
}

:root {
    --corT: #1D8AB9;
    --corF: #0F5978;
}

header {
    background-color: #f6f2ea;
}

@keyframes bg {
    to {
        background-position: 1423px -800px;
    }
}

section {
    padding-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
}

.logoP {
    margin-top: 10px;
    background-image: url("imgs/pp/logoProjP2.png");
    background-size: contain;
    aspect-ratio: 352 / 109;
    width: max(300px, 30%);
}

.cont {
    width: max(300px, 40%);
    margin: 5px;
}

.cont h2 {
    color: var(--corT);
    font-family: "Climate Crisis", sans-serif;
    font-size: clamp(1.5em, 2vw, 3em);
}

.cont span {
    color: var(--corF);
    font-family: "Andika", sans-serif;
    font-size: clamp(1em, 1vw, 2em);
}

.cont a {
    color: var(--corT);
}

#pato {
    border-radius: 12%;
    cursor: pointer;
    transition: .2s;
}

#pato:hover {
    transform: scale(1.02);
}

.pressed {
    animation: jump .2s ease-in-out forwards;
}

.paiPato {
    position: relative;
}

@keyframes jump {
    50% {
        transform: scaleY(.5) scaleX(1.1) translateY(50%);
    }

    80% {
        transform: scaleY(1.2) scaleX(.6);
    }

    100% {
        transform: scaleY(1);
    }
}

.cont img {
    width: 100%;
}

.secSeta {
    width: 70%;
}

.texto {
    position: absolute;
    animation: fadeOut 5s ease forwards;
    transform: translate(-90%, 0);
    pointer-events: none;
    font-family: "Andika", sans-serif;
    font-size: clamp(1em, 1.5vw, 2em);
    color: black !important;
    font-weight: bold;
    width: 150px;
    overflow-wrap: break-word;
    hyphens: auto;
    background-color: white;
    padding: 12px 16px;
    border-radius: 16px;
    max-width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translate(calc(-90% + var(--x)),
                calc(0% + var(--y)));
    }

}