body
{
}

#seta-link {
    margin-left: auto;
}

#seta {
    fill: #FFDE59;
    height: 60px;
    width: 60px;
}

    #seta:hover {
        cursor: pointer;
        transition: 0.3s ease;
        height: 63px;
        width: 63px;
    }